In [105]:
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
df = pd.read_csv("test_amazon.csv")

In [107]:
df.head()

   label                                               text
0      0  Not worth the money: Banks'book Oscilloscope G...
1      0  I changed my mind: When I first reviewed this ...
2      0  How quickly we fail...: I was initially enthus...
3      0  DOA Did Not Power up out of the box: DOA produ...
4      0  support: I ordered this nursing bra after look...

In [108]:
df.isnull().sum()

label    0
text     0
dtype: int64

In [109]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Yousuf
[nltk_data]     Traders\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [110]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [111]:
sid = SentimentIntensityAnalyzer()

In [112]:
import numpy as np

In [113]:
df['label'].value_counts(normalize=True)*100

0    50.106667
1    49.893333
Name: label, dtype: float64

In [114]:
# # df.dropna(inplace=True)

# blanks = []  # start with an empty list

# for i,lb,rv in df.itertuples():  
#     if type(rv)==str:            
#         if rv.isspace():        
#             blanks.append(i)     

# df.drop(blanks, inplace=True)

In [115]:
blanks

[]

In [123]:
df['scores'] = df['text'].apply(lambda text: sid.polarity_scores(text))

df.head()

,label,text,scores
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'co..."
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108, 'co..."
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102, 'co..."
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0, 'compou..."
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093, 'co..."

In [125]:
d = df['scores']

In [ ]:
for i in scores:
    max(d, key=d.get)

In [ ]:
test_pos = test[test["sentiment"]== "Positive"]
test_pos = test_pos["text"]


test_neg = test[test["sentiment"]== "Negative"]
test_neg = test_neg["text"]

In [122]:
max(df['scores'], key=df['scores'].get)

TypeError: '>' not supported between instances of 'NoneType' and 'NoneType'

In [118]:
d = df[scores]

NameError: name 'scores' is not defined

In [ ]:
max(d, key=d.get)

In [94]:
df['neg']  = df['scores'].apply(lambda score_dict: score_dict['neg'])
df['neu']  = df['scores'].apply(lambda score_dict: score_dict['neu'])
df['pos']  = df['scores'].apply(lambda score_dict: score_dict['pos'])

In [95]:
df

,label,text,scores,neg,neu,pos
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'co...",0.107,0.831,0.062
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108, 'co...",0.018,0.874,0.108
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102, 'co...",0.147,0.751,0.102
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0, 'compou...",0.260,0.740,0.000
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093, 'co...",0.023,0.884,0.093
...,...,...,...,...,...,...
29995,0,None: Got a third of the way through and just ...,"{'neg': 0.0, 'neu': 0.85, 'pos': 0.15, 'compou...",0.000,0.850,0.150
29996,1,It grows on you: I didn't pay much for this cd...,"{'neg': 0.037, 'neu': 0.849, 'pos': 0.114, 'co...",0.037,0.849,0.114
29997,0,Great Songs - marginal recording: It is tough ...,"{'neg': 0.081, 'neu': 0.662, 'pos': 0.257, 'co...",0.081,0.662,0.257
29998,0,Don't buy this replacement!!: I should have li...,"{'neg': 0.068, 'neu': 0.774, 'pos': 0.158, 'co...",0.068,0.774,0.158
29999,1,A delightful journey through some unusual Ital...,"{'neg': 0.0, 'neu': 0.637, 'pos': 0.363, 'comp...",0.000,0.637,0.363

In [78]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,text,scores,compound,comp_score
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'co...",-0.0982,neg
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108, 'co...",0.8126,pos
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102, 'co...",-0.6800,neg
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0, 'compou...",-0.8429,neg
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093, 'co...",0.7175,pos

In [96]:
df

,label,text,scores,neg,neu,pos
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'co...",0.107,0.831,0.062
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108, 'co...",0.018,0.874,0.108
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102, 'co...",0.147,0.751,0.102
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0, 'compou...",0.260,0.740,0.000
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093, 'co...",0.023,0.884,0.093
...,...,...,...,...,...,...
29995,0,None: Got a third of the way through and just ...,"{'neg': 0.0, 'neu': 0.85, 'pos': 0.15, 'compou...",0.000,0.850,0.150
29996,1,It grows on you: I didn't pay much for this cd...,"{'neg': 0.037, 'neu': 0.849, 'pos': 0.114, 'co...",0.037,0.849,0.114
29997,0,Great Songs - marginal recording: It is tough ...,"{'neg': 0.081, 'neu': 0.662, 'pos': 0.257, 'co...",0.081,0.662,0.257
29998,0,Don't buy this replacement!!: I should have li...,"{'neg': 0.068, 'neu': 0.774, 'pos': 0.158, 'co...",0.068,0.774,0.158
29999,1,A delightful journey through some unusual Ital...,"{'neg': 0.0, 'neu': 0.637, 'pos': 0.363, 'comp...",0.000,0.637,0.363

In [97]:
test = ['neg', 'neu', 'pos']

In [98]:
print(max(test))

pos

In [ ]:
def text(mx):
    test = ['neg', 'neu', 'pos']
    print(max(txt))

In [81]:
df['comp_score'].value_counts(normalize=True)*100

pos    72.31
neg    27.69
Name: comp_score, dtype: float64

In [74]:
# Write a review as one continuous string (multiple sentences are ok)
review = 'The shoes I brought were amazing.'
# Obtain the sid scores for your review
sid.polarity_scores(review)

{'neg': 0.0, 'neu': 0.513, 'pos': 0.487, 'compound': 0.5859}

In [75]:
review="Not worth the money: Banks'book Oscilloscope Guide uses large print and offers little information and there are mistakes...There is some useful information there but not worth the high price."
# Obtain the sid scores for your review
sid.polarity_scores(review)

{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'compound': -0.0982}

In [76]:
a = df.text.iloc[0]

In [77]:
a

"Not worth the money: Banks'book Oscilloscope Guide uses large print and offers little information and there are mistakes...There is some useful information there but not worth the high price."